body {
    background-color: rgb(185,44,62);
    background-color: linear-gradient(67deg, rgba(185,44,62,1) 0%, rgba(142,27,43,1) 100%);
    background-image: url(../img/lewishamilton.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color:  white;
}

h1 {
    font-size: 5rem;
    font-weight: bolder;
    margin: 0;
}

img {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
}

.logo {
    width: 100px;
    filter: invert(100%);
}

a {
    color: white;
    font-size: 1.2rem;
    transition:  all .2s;
}

a:hover {
    color: rgb(13, 49, 113);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-right: 1.5rem;
}

.main-content {
    padding: 9rem 0 9.48rem;
}

.logros {
    width: 50%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
}

li p {
    margin: 0;
}

footer {
    width: 100%;
    background-color: rgb(13, 49, 113, .50);
    backdrop-filter: blur(5px);
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-grow: 1;
    padding: 1rem 3rem;
    transition: all .2s;
}

.card p {
    font-weight: 100;
    font-size: 1rem;
}

.card span {
    font-size: 1rem;
}

.card:hover {
    background: rgb(13, 49, 113);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    transform: translatey(-2rem);
}
